<mat-toolbar class="header flex items-center fixed top-0 left-0 w-full z-50">
  <a routerLink="/home">
    <span class="text-xl font-bold">{{title}}</span>
  </a>
  <span class="flex-1"></span>
  <div class="sm:hidden">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <nav class="hidden sm:flex flex-1 justify-end">
    <ul class="flex space-x-4">
      <li><a mat-button (click)="scrollToSection('about-us')"  routerLink="/home">Sobre Nós</a></li>
      <li><a mat-button routerLink="/retrospective" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Linha do
          Tempo</a></li>
      <li><a mat-button routerLink="/ourDay" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Programação do Nosso Dia</a></li>
      <li><a mat-button routerLink="/memories">Álbum de Recordações</a></li>
    </ul>
  </nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="scrollToSection('about-us')" routerLink="/home" routerLinkActive="activebutton">Sobre Nós</button>
    <a><button mat-menu-item routerLink="/retrospective" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Linha do
        Tempo</button></a>
    <button mat-menu-item routerLink="/ourDay" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Programação do Nosso Dia</button>
    <button mat-menu-item routerLink="/memories">Álbum de Recordações</button>
  </mat-menu>
</mat-toolbar>
