<div class="flex flex-col items-center justify-center pt-32 pb-10">
  <div class="relative z-10 mb-8 ml-5 mr-5 p-4 text-center animate-fadeIn text-principal rounded-lg">
    <h1 class="text-4xl font-bold text-gray-800">Programação do Dia 17/09</h1>
  </div>

  <div class="w-full max-w-4xl grid grid-cols-1 md:grid-cols-3 gap-8 p-5">
    <!-- Manhã -->
    <div
      class="p-6 bg-yellow-400 rounded-lg shadow-lg flex flex-col items-center transition-transform duration-300 hover:scale-105 cursor-pointer">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Manhã</h2>
      <img src="assets/img/abril.jpg" alt="Café da Manhã"
        class="w-full h-40 object-cover rounded-lg mb-4 transition-opacity duration-300 opacity-100">
      <div class="transition-opacity duration-300">
        <h3 class="text-xl font-semibold text-yellow-600">08:00 - Café da Manhã</h3>
        <p class="text-sm text-gray-800">Vamos começar o dia com um delicioso café da manhã juntos.</p>
      </div>
    </div>

    <!-- Tarde -->
    <div
      class="p-6 bg-yellow-400 rounded-lg shadow-lg flex flex-col items-center transition-transform duration-300 hover:scale-105 cursor-pointer">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Tarde</h2>
      <img src="assets/img/lagoIA.jpg" alt="Passeio no Parque"
        class="w-full h-40 object-cover rounded-lg mb-4 transition-opacity duration-300 opacity-100">
      <div class="transition-opacity duration-300">
        <h3 class="text-xl font-semibold text-yellow-600">14:00 - Passeio no Parque</h3>
        <p class="text-sm text-gray-800">Vamos dar um passeio no parque e aproveitar a natureza.</p>
      </div>
    </div>

    <!-- Noite -->
    <div
      class="p-6 bg-yellow-400 rounded-lg shadow-lg flex flex-col items-center transition-transform duration-300 hover:scale-105 cursor-pointer">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Noite</h2>
      <img src="assets/img/gameover.jpg" alt="Jantar Romântico"
        class="w-full h-40 object-cover rounded-lg mb-4 transition-opacity duration-300 opacity-100">
      <div class="transition-opacity duration-300">
        <h3 class="text-xl font-semibold text-yellow-600">20:00 - Jantar Romântico</h3>
        <p class="text-sm text-gray-800">Vamos finalizar o dia com um jantar romântico em um restaurante especial.</p>
      </div>
    </div>
  </div>
</div>
