<div class="flex flex-col items-center justify-center pt-32 pb-10">
  <div class="relative z-10 mb-8 ml-5 mr-5 p-4 text-center text-principal rounded-lg shadow-lg fade-in-scale">
    <h1 class="text-4xl font-bold text-gray-800">Nosso Álbum de Recordações</h1>
  </div>
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-10">
    @for(memory of memories; track memory.subtitle){
    <div class="memory-card fade-in-up" (click)="toggleFlip(memory)">
      <div class="memory-card-inner relative w-full h-80 transition-transform duration-600 transform hover:scale-105"
        [ngClass]="{'is-flipped': memory.flipped}">
        <!-- Front Side -->
        <div class="memory-card-front absolute inset-0 rounded-lg shadow-lg flex flex-col items-center justify-center">
          <img [src]="memory.image" alt="{{ memory.subtitle }}" class="w-3/4 h-60 object-cover rounded-lg mb-4">
        </div>
        <!-- Back Side -->
        <div
          class="memory-card-back absolute inset-0 rounded-lg shadow-lg flex flex-col items-center justify-center p-4 transform rotate-y-180">
          <h3 class="text-xl font-semibold">{{ memory.subtitle }}</h3>
          <p class="text-sm mb-4">{{ memory.description }}</p>
          <button
            class="mt-auto py-2 px-4 bg-yellow-600 rounded-lg uppercase font-semibold cursor-pointer memory-card-button">Ver
            mais</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>